@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900|Quattrocento+Sans:400,700');

.App-container {

}
.hero-image {
  position: absolute;
  z-index: -1;
  max-width: 100vw;
  width: 100%;
  object-fit: cover;
  max-height: 90vh;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

/*Typography*/
body {
  font-family: 'Quattrocento Sans', sans-serif;
  color: rgba(0,0,0,.84);
  font-size: 18px;
  background: #FFFDFD;
}
@media screen and (min-width: 320px) {
  body {
    font-size: 18px;
  }
}
@media screen and (min-width: 920px) {
  body {
    font-size: 20px;
  }
}
h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin:0;
}
h1 {
  font-size: 2.5em;
  font-weight: 900;
}
@media screen and (min-width: 920px) {
  h1 {
    font-size: 3.5em;
  }
}
h2 {
  font-size: 1.6em;
}
@media screen and (min-width: 920px) {
  h2 {
    font-size: 2.5em;
  }
}
h3 {
  font-size: 1.3em;
  font-weight: 900;
}
@media screen and (min-width: 920px) {
  h3 {
    font-size: 1.5em;
  }
}
h4 {
  font-size: 1em;
}
@media screen and (min-width: 920px) {
  h4 {
    font-size: 1.15em;
  }
}
h5 {
  font-size: 0.7em;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.8px;
  margin:  1.1em 0;
}
h6 {
  font-size: .75em;
}
.body {
  line-height: 1.6em;
  margin: 1em 0;
}
.body.big {
  font-size: 1.15em;
  line-height: 1.8em;
  margin: 1em 0;
}
.header-soft {
  color: rgba(0,0,0,.1);
  font-size: 4em;
  margin-bottom: -86px;
  margin-left: -57px;
  line-height: 1em;
}
@media screen and (min-width: 920px) {
  .header-soft {
    margin-left: 0;
    font-size: 6em;
  }
}
/*Button*/
.button {
  margin-top: 3em;
}
a {
  text-decoration: none;
  transition: all 2ms;
  color: rgba(0,0,0,.84);
  /*box-shadow: inset 0 0px 0 white, inset 0 -10px 0 #FF4B4B00;*/
}
a:hover {
  /*box-shadow: inset 0 0px 0 white, inset 0 -10px 0 #FF4B4B80;*/
}
a:visited {
  color: rgba(0,0,0,.84);
}

/*Shapes*/
.shape-container {
  position: absolute;
  width: 195px;
  height: 165px;
  background-repeat: no-repeat;
  z-index: -1;
}
.red-shape {
  background-image: url('assets/red-shape-small.png');
}
.blue-shape {
  background-image: url('assets/blue-shape-small.png');
}
.green-shape {
  background-image: url('assets/green-shape-small.png');
}
.gray-shape {
  background-image: url('assets/gray-shape-small.png');
}
