/*Links*/
.body.animated-link {
  display: inline-block;
  margin: 0;
}
.animated-link.light > a {
  color: #ffffffdd;
}
.animated-link > a {
  position: relative;
  transform: perspective(1px) translateZ(0);
  display: inline-block;
}
.animated-link.blue > a:before {
  background-color: #4400ffbd;
}
.animated-link.green > a:before {
  background-color: #64cb22f0;
}
.animated-link > a:before {
  content: "";
  position: absolute;
  height: 5px;
  bottom: 2px;
  left: 0;
  z-index: -1;
  right: 100%;
  background-color: #ff4b4b;
  transition-property: right;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.body.animated-link > a:before {
  bottom: 9px;
}
.animated-link > a:hover:before {
  right: 0;
}

/*Column Typography*/
.step-number {
  display: inline;
  font-size: 1.15em;
  margin-left: -32px;
  margin-right: 8px;
  letter-spacing: 0;
}
.step-title {
  display: inline;
}

/*Quotes*/
.quote-content {
  margin: 1em 0;
}
@media screen and (min-width: 920px) {
  .quote-content {
    margin: 4em 0;
  }
}
.quote-title {
  margin: 0.5em 0;
}

/*ScrollToTop*/
.scroll-to-top-container {
  display: hidden;
}
@media screen and (min-width: 920px) {
  .scroll-to-top-container.visible {
    display: block;
    top: 100vh;
    position: fixed;
  }
}
