.footer {
  margin-bottom: 0;
  min-height: 100vh;
  background: linear-gradient(#f5f5f5, white);
}
.footer-body {
  display: grid;
  grid-column: 2 / 8;
  grid-template-areas:
      "message"
      "social"
      "navigation"
      "copyright";
  margin-top: 3em;
}
@media screen and (min-width: 920px) {
  .footer-body {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "message message ."
      "copyright navigation navigation";
    margin-top: 2em;
    align-items: end;
  }
}
.footer-message {
  grid-area: message;
}
.footer-message .header-soft{
  margin-bottom: -70px;
}
.footer-navigation {
  grid-area: navigation;
}
@media screen and (min-width: 920px) {
  .footer-navigation {
    text-align: right;
  }
}
.footer-copyright {
  grid-area: copyright;
  margin-bottom: 1em;
}
.animated-link.footer-link {
  display: inline-block;
  padding-right: 1.5em;
}
.footer-line {
  margin-right: 3em;
}
