.three-column-content {
  display: grid;
  grid-column: 2 / 8;
  grid-column-gap: 2.5em;
  grid-row-gap: 1em;
}
@media screen and (min-width: 920px) {
  .three-column-content {
    grid-row-gap: 3em;
    grid-template-columns: repeat(3, 2fr);
  }
}
.three-column-step {
}
