.two-column-content {
  display: grid;
  grid-column: 2 / 8;
  grid-row-gap: 60px;
  grid-column-gap: 2em;
}
@media screen and (min-width: 920px) {
  .two-column-content {
    grid-template-columns: repeat(2, 3fr);
  }
}
.two-column-step {
  position: relative;
  grid-column: 1;
}
@media screen and (min-width: 920px) {
  .two-column-step:nth-child(2n-1) {
    grid-column: 1;
  }
  .two-column-step:nth-child(2n) {
    grid-column: 2;
  }
}
